<div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb  m-2">
        <li class="breadcrumb-item"><a href="/projects"> Projects </a></li>
        <li class="breadcrumb-item"><a href="/project-entries/{{IDProjects}}"> Project Entries</a></li> 
        <li class="breadcrumb-item active" aria-current="page">Create Entry</li>
      </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <h3>Create a project entry.</h3>
            <div class="card " style="background-color: #f5f5f5; border: none;">
                <div class="card-body">
                    
                    <input type="hidden" name="ProjectFK" id="ProjectFK" value="{{IDProjects}}" />
                    
                    <label class="form-label mt-4" for="ProjectDescription"> Student </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> Select a student</option>
                        {{#each userData}}
                            <option value="{{this.UserFK}}">{{this.firstName}} {{this.LastName}}</option>
                        {{/each}}
                    </select>
                    <div id="entry-student-err" style="color: red; display: none;">Please select a student.</div>
                    
                    <div class="form-group row">
                        <div class="col">
                            <label class="form-label mt-4" for="EntryLatitude"> Latitude </label>
                            <input type="text" class="form-control" id="EntryLatitude" placeholder="Enter your Latitude"/>
                            <div id="project-name-err" style="color: red; display: none;">Please provide a valid latitude.</div>
                        </div>
                        <div class="col">
                            <label class="form-label mt-4" for="EntryLatitude"> Longitude </label>
                            <input type="text" class="form-control" id="EntryLongitude" placeholder="Enter your Longitude"/>
                            <div id="project-name-err" style="color: red; display: none;">Please provide a valid Longitude.</div>
                        </div>
                    </div>

                    <input type="hidden" name="ProjectImage" id="ProjectImage" value="placehoder.jpg" />
                    <button class="btn btn-md btn-dark rounded-pill mt-4 px-5" id="addProjectBtn">Submit</a>
                        {{!-- <label class="form-label" for="ProjectImage">Upload Image &#40;PNG, JPG&#41;</label>
                        <input class="form-control form-control-md mt-1" type="file" accept=".jpg,.png"> --}}
                </div>
            </div>
        </div>
    </div>
</div>