<!-- project-update.hbs-->

{{!-- Breadcrumb Navigation Bar --}}
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Project</li>
    </ul>
</nav>

<h2>Edit Project</h2>
<table id="project-table">

    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>Project Description</th>
        </tr>
    </thead>

    <tbody>
        {{#each userData}}
        <tr data-value={{this.IDProjects}}>
            <td>{{this.IDProjects}}</td>
            <td>{{this.ProjectName}}</td>
            <td>{{this.ProjectType}}</td>
            <td>{{this.ProjectDescription}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#each userData}}
<form id="edit-project" method="POST" action="/projects/{{this.IDProjects}}">

    <fieldset class="fields">
        <legend><strong>Add Project</strong></legend>

        <label for="ProjectName"> Project Name </label>
        <input type="text" name="ProjectName" id="ProjectName" placeholder="Name" value="{{this.ProjectName}}">
        <input type="hidden" name="ProjectType" value="Image & Geo">
        <label> Project Description </label>
        <textarea name="ProjectDescription" id="ProjectDescription" cols="30"
            rows="5">{{this.ProjectDescription}}</textarea>
        <input type="hidden" name="ProjectImage" value="blackberry.jpg">

        <div>
            <button>Submit</button>
        </div>
    </fieldset>

</form>
{{/each}}