<div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb  m-2">
        <li class="breadcrumb-item"><a href="/projects"> Projects </a></li>
        {{#each project}}
        <li class="breadcrumb-item"><a href="/project-entries/{{IDProjects}}"> {{this.ProjectName}}</a></li> 
        {{/each}}
        <li class="breadcrumb-item active" aria-current="page">Create Entry</li>
      </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <h3>Create a project entry.</h3>
            <div class="card " style="background-color: #f5f5f5; border: none;">
                <div class="card-body">
                    
                    <input type="hidden" name="ProjectFK" id="ProjectsFK" value="{{IDProjects}}" />
                    
                    <label class="form-label mt-4" for="ProjectDescription"> Student </label>
                    <select id="UsersFK" class="form-select" aria-label="Default select example">
                        <option selected value=""> Select a student</option>
                        {{#each userData}}
                            <option value="{{this.IDUser}}">{{this.FirstName}} {{this.LastName}}</option>
                        {{/each}}
                    </select>
                    <div id="entry-student-err" style="color: red; display: none;">Please select a student.</div>
                    
                    <div class="form-group row">
                        <div class="col">
                            <label class="form-label mt-4" for="EntryLatitude"> Latitude &#40;-90, 90&#41; </label>
                            <input type="number" class="form-control" id="EntryLatitude" placeholder="Enter your Latitude"/>
                            <div id="project-name-err" style="color: red; display: none;">Please provide a valid latitude.</div>
                        </div>
                        <div class="col">
                            <label class="form-label mt-4" for="EntryLongitude"> Longitude &#40;-180, 180&#41;</label>
                            <input type="number" class="form-control" id="EntryLongitude" placeholder="Enter your Longitude"/>
                            <div id="project-name-err" style="color: red; display: none;">Please provide a valid Longitude.</div>
                        </div>
                    </div>

                    <label class="form-label mt-4" for="ProjectImage">Upload Image &#40;PNG, JPG&#41;</label>
                    <input id="EntryImage" class="form-control form-control-md mt-1" type="file" accept=".jpg,.png">
                    <div id="project-name-err" style="color: red; display: none;">Please provide a valid image.</div>

                    {{!-- <input type="hidden" name="ProjectImage" id="ProjectImage" value="placehoder.jpg" /> --}}

                    <button class="btn btn-md btn-dark rounded-pill mt-4 px-5" id="addEntryBtn" data-id="{{IDProjects}}">Submit</a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/validation.helpers.js"></script>
<script  src="/js/project-entries-form.helpers.js"></script>