<!-- users.hbs-->
<!--
Uses as a model the example from CS340 Canvas Modules
-->

<h1>Student Information</h1>
<p>
  View, add, update or delete students.

  <!-- Add a new Student to the Database -->
<form action="/users" method="POST" id="add-student">

  <fieldset class="fields">
    <legend><strong>Add Student</strong></legend>

    <label for="FirstName"> First Name </label>
    <input type="text" name="FirstName" id="FirstName" placeholder="Enter First Name">
    <label> Last Name </label>
    <input type="text" name="LastName" id="LastName" placeholder="Enter Last Name">
    <label> Email </label>
    <input type="text" name="Email" id="Email" placeholder="Enter Student's Email">
    <input type="hidden" name="IsTeacher" value=0>

    <div>
      <button>Submit</button>
    </div>
  </fieldset>

</form>

<div id="overviewUsers" style="display: block">
  <table id="student-table">

    <thead>
      <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
    </thead>

    <tbody>
      {{#each userData}}
      <tr data-value={{this.IDUser}}>
        <td>{{this.IDUser}}</td>
        <td>{{this.FirstName}}</td>
        <td>{{this.LastName}}</td>
        <td>{{this.Email}}</td>
        <td><a href="/users/{{this.IDUser}}" type="button"><i class="fa fa-edit"></i></a></td>
        <td><button class="trash" onclick="deleteUserJS({{this.IDUser}})"><i class="fa fa-trash-o"></i></button></td>

        {{!-- <td><button onclick="getUserJS({{this.IDUser}})">Edit {{this.IDUser}}</button></td> --}}

      </tr>
      {{/each}}
    </tbody>
  </table>
</div>