<!--
Uses as a model the example from CS340 Canvas Modules
-->


<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_author.js"></script>

<title>Students</title>
</head>

<h1>Students</h1>
  <p>
    View, add, update or delete students.

  </p>
 
    {{!-- <!-- VIEW, UPDATE, DELETE, CREATE-->
    <!-- view -->
    <div id="overviewAuthors" style="display: block">
      <h2>Overview Authors</h2>
    <table id = "author-table">
    <thead>
        <tr>
            {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.id}}>>
            <td>{{this.IDAuthor}}</td>
            <td>{{this.AuthorFirstName}}</td>
            <td>{{this.AuthorLastName}}</td>
            <td><button onclick="deleteAuthor({{this.IDAuthor}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
       
    <p>&nbsp;</p>
    </div> 

    
  <!-- Add a new Author to the Database -->
  <h2>Add Author</h2>
  <p>To add a new author to the database, please enter their information below.</p>
  <form method="POST" id="addAuthor" action="/add-author-form">
      <fieldset class="fields">
          <p></p>
          <label for="input-AuthorFirstName"> First Name </label> 
          <input type="text" name="input-AuthorFirstName" id="input-AuthorFirstName" placeholder="Enter First Name">
            
          <label> Last Name </label>
          <input type="text" name="input-AuthorLastName" id="input-AuthorLastName" placeholder="Enter Last Name"> 
          <p></p>

    <input type="submit">

    </fieldset>
  </form> 
    
    <!-- update -->
    <p>&nbsp;</p>
    <div id="update">
        <form method="POST" id="UpdateAuthor">
            <legend><strong>Update Author</strong></legend>
              <fieldset class="fields">
                <p></p>
                <strong>CAUTION this will update all associated books.</strong>
                <p>&nbsp;</p>
                <label> Select Author </label> <select name="Author">
                  <option value="1" selected>Delia Owens</option>
                  <option value="2">Colleen Hoover</option>
                  <option value="3">Elin Hilderbrand</option>
                  <option value="4">John Grisham</option>
                </select>
                <label> Update First Name </label> <input type="text" name="AuthorFirstName" placeholder="Enter First Name">
                <label> Update Last Name </label> <input type="text" name="AuthorLastName" placeholder="Enter Last Name">
                <p></p>
          </fieldset>
              <input class="btn" type="submit" id="updateSaveAuthor" value="Save Update Author">
              <input class="btn" type="button" value="Cancel" onClick="browseAuthors()">
      </form> 
    </div> --}}
  </html>
    