<!-- user-update.hbs-->


{{!-- Breadcrumb Navigation Bar --}}
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/users">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit User</li>
    </ul>
  </nav>

  <h2>Edit Student</h2>
  <table class="table" id="student-table">

    <thead>
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col" >First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col" >Email</th>

      </tr>
    </thead>

    <tbody>
      {{#each userData}}
      <tr data-value={{this.IDUser}}>
        <th scope="row">{{this.IDUser}}</td>
        <td>{{this.FirstName}}</td>
        <td>{{this.LastName}}</td>
        <td>{{this.Email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <p></p>
  {{#each userData}}

  <div class="row justify-content-center rounded m-5 px-5 py-3" style="background-color: #eeeeee; width: 75%;">
  {{!-- <form id="edit-student" method="POST" action="/users/{{this.IDUser}}"> --}}

    <fieldset class="fields">
      <legend><strong>Edit Student</strong></legend>

      <label class="form-label mt-4" for="FirstName"> First Name </label>
      <input class="form-control" type="text" name="FirstName" id="FirstName" value={{this.FirstName}}>
      <div id="project-name-err" style="color: red; display: none;">Please provide a valid first name.</div>

      <label class="form-label mt-4"> Last Name </label>
      <input class="form-control" type="text" name="LastName" id="LastName" value={{this.LastName}}>
      <div id="project-name-err" style="color: red; display: none;">Please provide a valid last name.</div>

      <label class="form-label mt-4"> Email </label>
      <input class="form-control" type="text" name="Email" id="Email" value={{this.Email}}>
      <div id="project-name-err" style="color: red; display: none;">Please provide a valid email.</div>

      <input type="hidden" name="IsTeacher" id="IsTeacher" value=0>

      <div>
        <button class="btn btn-md btn-dark rounded-pill mt-4 px-5" id="updateUserBtn" data-id="{{this.IDUser}}"> Submit </button>
      </div>
    {{!-- </fieldset> --}}
  {{!-- </form> --}}
  </div>
  {{/each}}
</div>

<script src="/js/validation.helpers.js"></script>
<script  src="/js/user-update.helpers.js"></script>